annotated-types==0.8.0
CacheControl==0.14.4
certifi==2026.7.22
charset-normalizer==3.5.1
cwl-loader==0.26.0
cwl-upgrader==1.2.15
cwl-utils==0.44
cwl2ogc==0.22.0
cwl2puml==0.49.0
dnspython==2.8.0
email-validator==2.3.0
filelock==4.0.1
httplib2==0.32.0
idna==3.20
Jinja2==3.1.6
loguru==0.7.3
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mistune==3.3.4
msgpack==1.2.2
mypy_extensions==1.1.0
packaging==26.3
plantuml==0.3.0
pydantic==2.13.5
pydantic_core==2.49.0
Pygments==2.21.0
pyparsing==3.3.3
rdflib==7.6.0
requests==2.34.2
rich==15.0.0
rich-argparse==1.8.0
ruamel.yaml==0.19.1
schema-salad==8.10.20260825112551
transpiler-mate-api==1.0.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
